In [1]:
import pandas as pd

from edgar_func import recent_mdna_text_by_company

In [2]:
header = {'User-Agent': "email@address.com"}
cik = '0000789019'

In [3]:
df = pd.read_csv('tracked_companies.csv', dtype={'cik_str': str})

In [4]:
df.head()

      cik_str ticker                 title
0  0000320193   AAPL            Apple Inc.
1  0000789019   MSFT        MICROSOFT CORP
2  0001045810   NVDA           NVIDIA CORP
3  0001652044  GOOGL         Alphabet Inc.
4  0001326801   META  Meta Platforms, Inc.

In [5]:
for index, row in df.iterrows():
    mdna_df = recent_mdna_text_by_company(row['cik_str'], 3, header)
    ticker_name = row['ticker'].lower()
    mdna_df.to_csv(f'mdna_text/{ticker_name}.csv', index= False)